<!DOCTYPE HTML>
<html>
	<head>
		<title>百泉众合 - 洞悉数据价值 | 关于LogInsight</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="LogInsight,百泉众合,关于我们"/>
		<meta name="description" content="LogInsight（百泉众合）提供SaaS及私有化部署的实时日志分析平台，帮助企业实现机器数据价值的洞察，助力运维，提升运营，实现大数据战略的快速落地" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<link href="/static/loginsight/css/bootstrap.css" rel='stylesheet' type='text/css' />

		<script src="/static/loginsight/js/jquery.min.js"></script>
		<link href="/static/loginsight/css/style.css" rel='stylesheet' type='text/css' />
		<link href="/static/loginsight/css/style.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="/static/loginsight/js/index.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71035313-1', 'auto');
  ga('send', 'pageview');

</script> 
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1a2fead704d6f0d4a6e35987b2da75cf";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> 
 
	</head>
	<body>
		<div id="top" class="bg-lv">
		<!----- start-header---->
			<div id="home" class="header">
                    <div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="/"><img src="/static/loginsight/images/logo.png"></a>
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul>
								<li class="active">
								<li><a href="/product" class="scroll">产品</a></li>
								<li><a href="/price" class="scroll">报价</a></li>

								<li><a href="http://loginsight.udesk.cn/hc" class="scroll" target="_blank">帮助</a></li>
                                <li><a href="/about" class="scroll">关于</a></li>
                                <li><span style="color:#fff;">|</span><a href="/login" class="scroll-a">登陆</a></li>
                                <li><a href="/register" class="scroll-b">注册</a></li>

							</ul>
							<a href="javascript:;" id="pull">
								<img src="/static/loginsight/images/nav-icon.png" title="menu" />
							</a>
						</nav>
						<!--<div class="clearfix"> -->
                        </div>
					</div>
                </div>
				<!--backbox-->
				<div class="blackbox">
					<div class="black">
									<a href="/price">报价</a></br><hr>

									<a href="http://loginsight.udesk.cn/hc"target="_blank">帮助</a></br><hr>
									<a href="/about">关于</a></br><hr>
									<a class="scroll-e" href="/login">登陆</a></br><hr>
									<a class="scroll-f" href="/register">注册</a></br><hr>
									<a class="scroll-g" href="#">返回</a></br><hr>
					</div>
				</div>
				<script>
					$('#pull').click(function(){
						$(".blackbox").fadeIn(function(){
						})
					})
					$(".scroll-g").click(function(){
						$(".blackbox").fadeOut(function(){
						})
					})
				</script>
				<!--Contents-->
                <div class="container product-t" >
                		<div class="about-txt">
                        <h1 style="font-size:40px;">
                          	公司简介
                        </h1>
						 <h3>
                           Company profile
                        </h3>

                		</div>
						<div class="price-img">
							<img  src="static/images/525004.png">
						</div>
						</div>
			</div>
         </div>
         <!--new-function-body-->


		<!--body-->
		<div class="text-about container">
			<div class="about-left">
				<div class="top-green"></div>
				<a id="about-a" href="/about">公司简介</a>
				<a href="/contact">联系我们</a>
				<a href="/recruitment">招聘信息</a>

			</div>
            <!--<div class="top-top"></div>-->
			<div class="about-right">
				<div class="about-text">
                	<img class="jixiangwu" src="/static/loginsight/images/12-03c.png">
                	<h2>公司简介</h2>

                    <p> LogInsight， 即北京百泉众合数据科技有限公司,成立于2015年，是中国 ITOA(IT运营分析)，日志分析领域的一支生力军，并立志成为中国 ITOA 领域的领头羊。</p>
					<p>机器数据，即由计算机，应用或者其他机器在无人工干预下产生的数据。机器数据是增长最快、最复杂也最富含价值的大数据中的一种， 大数据中，90%的数据是机器数据 。LogInsight，致力于开发机器数据\日志的分析平台，期望帮助广大的企业及开发者，实现机器数据价值的洞察，并转变为业务创新及竞争优势。</p>

				<p>LogInsight 核心技术团队主要来自国内外顶尖的互联网公司，在的大数据，搜索引擎，日志分析领域有着非常丰富的技术积累，拥有世界级的搜索引擎实现技术。 目前公司已经获得天使轮投资，SaaS产品预计年底前上线。</p>

				<h2 style="margin-top:40px;">核心团队简介</h2>
				<div class="clearfix">
					<div class="pull-left span4">
						<img id="span4-img" src="/static/loginsight/images/t1.png">

						<span style="font-size:20px;">李沫南，CEO</span><br>
						<p>被认为国内最懂搜索引擎的人之一。其的作品，开源中文检索引擎Coreseek, 曾被 PHPWind，Discuz! X等著名应用内嵌，用于搜索功能的支撑，有着极大的影响力。</p>

					</div>
					<div class="pull-left span4">
						<img id="span4-img" src="/static/loginsight/images/t3.png">
						<span style="font-size:20px;">王勇，Sales VP</span><br><p>两次创业经历，九年IBM企业客户服务总监经验 ，有着非常丰富的行业销售经验。</p>
					</div>
				</div>
				<div class="clearfix">

					<div class="pull-left span4">
						<img id="span4-img" src="/static/loginsight/images/t4.png">
						<span style="font-size:20px;">陈自欣，COO</span><br><p>曾任职于IBM及国内大型ITOM企业，历任的解决方案总监及产品总监，对企业 IT 运维需求有深刻的了解。</p>
					</div>

				</div>


				<!--<h2>企业亮点</h2>

				<p>初创团队，潜力无限，技术导向，ToB风口，年轻活力，别墅上班，地铁沿线，双显配置，中午包餐。</p>
                 <h2>合作伙伴</h2>
                 <div class="oneapm">
                 <img src="images/one.jpg">
                 </div>
                 <div class="onearet">
                 <img src="images/oneaert.png">

                </div>-->
                </div>

			</div>
         </div>


			<!---- top-footer ---->
			<div class="top-footer clearfix">
				<div class="top-footer-min">
				<div class="col-md-3">

                    <a href="/"><img src="/static/loginsight/images/logodfdfdf.png"></a>
				</div>
				<ul class="col-md-3">
					<li><h5>产品</h5></li>
					<!--<li>
						<a href="/product">产品概述</a>
					<li>-->
					<li>
						<a href="/price">产品价格</a>
					<li>
					<!--
					<li>
						<a href="javascript:;">用户案例</a>
					<li>
					<li>
						<a href="javascript:;">常见问题</a>
					<li>
					-->
				</ul>
				<ul class="col-md-3">
					<li><h5>文档</h5></li>
					<li>
						<a href="http://loginsight.udesk.cn/hc">帮助中心</a>
					<li>
					<!--
					<li>
						<a href="javascript:;">快速入门</a>
					<li>
					<li>
						<a href="javascript:;">使用指南</a>
					<li>
					<li>
						<a href="javascript:;">疑难解答</a>
					<li>
					-->
				</ul>
				<ul class="col-md-3">
					<li><h5>关于</h5></li>
					<li>
						<a href="/about">公司简介</a>
					<li>

					<li>
						<a href="/contact">联系我们</a>
					<li>
                    <li>
						<a href="/recruitment">招聘信息</a>
					<li>
				</ul>
				<ul class="col-md-3">
					<li><h5>关注</h5></li>
					<li class="weibo">
						<a id='new_tag' href="http://weibo.com/LogInsight?noscale_head=1#_rnd1446026527316" target="_blank"><img src="/static/loginsight/images/weibo.png"> <span>新浪微博</span></a>
					<li>

					<li>
						<a  class="weixin" href="javascript:;" ><img src="/static/loginsight/images/weixin.png"> 微信公众号</a>
					<li>
					<div id="qrcode" >
						<img src="/static/loginsight/images/weixin0.png">
					</div>
					<script type="text/javascript">
						$(".weixin").mouseover(function(){
							$("#qrcode").show();
						})
						$(".weixin").mouseout(function(){
							$("#qrcode").hide();
						})
						$
					</script>
				</ul>
				</div>
			</div>
			<!---- top-footer ---->
			<!---- footer ---->
			<div class="footer text-center">
				<p class="copy-right">Copyright©2015</p>
				<!-- to top -->
				<!--<script type="text/javascript">
					$(document).ready(function() {
						$().UItoTop({ easingType: 'easeOutCubic' });
					});
				</script>-->
				<a href="javascript:;" id="toTop" > <span id="toTopHover" style="opacity:1;"> </span></a>
			</div>
			<!---- footer ---->
	</body>
</html>
