<!DOCTYPE HTML>
<html>
	<head>
		<title>LogInsight - 智能运维解决方案 | 日志分析平台</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="LogInsight,百泉众合,日志管理,智能运维,日志分析平台"/>
		<meta name="description" content="LogInsight（百泉众合）提供SaaS及私有化部署的实时日志分析平台，帮助企业实现机器数据价值的洞察，助力运维，提升运营，实现大数据战略的快速落地。" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<meta name="baidu-site-verification" content="fK5zSaJCme" />
		<link href="/static/loginsight/css/bootstrap.css" rel='stylesheet' type='text/css' />

		<script src="/static/loginsight/js/jquery.min.js"></script>
		<link href="/static/loginsight/css/style.css" rel='stylesheet' type='text/css' />
		<link href="/static/loginsight/css/landing.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="/static/loginsight/js/index.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71035313-1', 'auto');
  ga('send', 'pageview');

</script>		
	
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1a2fead704d6f0d4a6e35987b2da75cf";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	</head>
	<body>
		<div id="top" class="bg-404">
		<!----- start-header---->        
			<div id="home" class="header">					
                    <div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="/"><img src="/static/loginsight/images/logo.png" alt=""></a>
						</div>                   		
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul>
								<li class="active">
								<li><a href="/price" class="scroll">报价</a></li>

								<li><a href="http://loginsight.udesk.cn/hc" class="scroll" target="_blank">帮助</a></li>
                                <li><a href="/about" class="scroll">关于</a></li>
                                <li><span style="color:#fff;">|</span><a href="/login" class="scroll-a">登陆</a></li>
                                <li><a href="/register" class="scroll-404">免费注册</a></li>
													
							</ul>
							<a href="javascript:;" id="pull">
								<img src="/static/loginsight/images/nav-icon.png" title="menu" />
							</a>
						</nav>
						<div class="clearfix"> 
                        </div> 
					</div>
                </div>
				<!--backbox-->
				<div class="blackbox">
					<div class="black">
									
									<a href="/price">报价</a></br><hr>

									<a href="http://loginsight.udesk.cn/hc"target="_blank">帮助</a></br><hr>
									<a href="/about">关于</a></br><hr>
									<a class="scroll-e" href="/login">登陆</a></br><hr>
									<a class="scroll-f" href="/register">免费注册</a></br><hr>
									<a class="scroll-g" href="#">返回</a></br><hr>
					</div>
				</div>
				<script>
					$('#pull').click(function(){
						$(".blackbox").fadeIn(function(){				
						})
					})
					$(".scroll-g").click(function(){
						$(".blackbox").fadeOut(function(){
						})
					})
				</script>
				<!--Contents-->

			</div>
         </div>
        <!--body-->
		<div class="logo-box">
			<h3>一、Loginsight logo 使用规范</h3>
			<p style="font-size:14px;">为获得最佳推广效果，建议直接使用各Logo图片链接。</p>
			<div class="logo-box1">
				<div class="logo-left">
					<p id="logo-p">有安全距离</p>
					<div class="logo-img0"><img src="./static/loginsight/logo/loginsight-w-300x112.png"></div>
					<div><a href="./static/loginsight/logo/loginsight-w-500x186.png" target="_blank">使用500x186px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-w-300x112.png" target="_blank">使用300x112px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-w-100x38.png" target="_blank">使用100x38px</a></div>
				</div>
				<div class="logo-right">
					<p id="logo-p">无安全距离</p>
					<div class="logo-img2"><img src="./static/loginsight/logo/loginsight-n-300x64.png"></div>
					<div><a href="./static/loginsight/logo/loginsight-n-500x106.png" target="_blank">使用500x186px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-n-300x64.png" target="_blank">使用300x112px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-n-100x23.png" target="_blank">使用100x38px</a></div>
				</div>
			</div>
			<h3>二、背景色</h3>
			<div class="logo-box1">
				<div class="logo-left1">

					<div class="logo-img4"><img src="./static/loginsight/logo/loginsight-h-300x112.png"></div>
					<div><a href="./static/loginsight/logo/loginsight-h-500x186.png" target="_blank">使用500x186px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-h-300x112.png" target="_blank">使用300x112px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-h-100x38.png" target="_blank">使用100x38px</a></div>
				</div>
				<div class="logo-left1">

					<div class="logo-img4"><img src="./static/loginsight/logo/loginsight-g-300x112.png"></div>
					<div><a href="./static/loginsight/logo/loginsight-g-500x186.png" target="_blank">使用500x186px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-g-300x112.png" target="_blank">使用300x112px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-g-100x38.png" target="_blank">使用100x38px</a></div>
				</div>
				<div class="logo-left2">

					<div class="logo-img4"><img src="./static/loginsight/logo/loginsight-b-300x112.png"></div>
					<div><a href="./static/loginsight/logo/loginsight-b-500x186.png" target="_blank">使用500x186px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-b-300x112.png" target="_blank">使用300x112px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-b-100x38.png" target="_blank">使用100x38px</a></div>
				</div>
			</div>
			<h3>三、ICO</h3>
			<div class="logo-box1">
				<div class="logo-left1">
					<div class="logo-img3"><img src="./static/loginsight/logo/loginsight-ico-100x100.png"></div>
					<div><a href="./static/loginsight/logo/loginsight-ico-300x300.png" target="_blank">使用300x300px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-ico-200x200.png" target="_blank">使用200x200px</a></div>
					<div><a href="./static/loginsight/logo/loginsight-ico-100x100.png" target="_blank">使用100x100px</a></div>
				</div>
			</div>
		</div>

			<!---- top-footer ---->
			<div class="top-footer clearfix">
			<div class="top-footer-min">
				<div class="col-md-3">

                    <a href="/"><img src="/static/loginsight/images/logodfdfdf.png"></a>
				</div>
				<ul class="col-md-3">
					<li><h5>产品</h5></li>

					<li>
						<a href="price.html">产品价格</a>
					<li>

				</ul>
				<ul class="col-md-3">
					<li><h5>文档</h5></li>
					<li>
						<a href="http://loginsight.udesk.cn/hc">帮助中心</a>
					<li>

				</ul>
				<ul class="col-md-3">
					<li><h5>关于</h5></li>
					<li>
						<a href="about.html">公司简介</a>
					<li>

					<li>
						<a href="contact_us.html">联系我们</a>
					<li>
                    <li>
						<a href="recruitment.html">招聘信息</a>
					<li>
				</ul>
				<ul class="col-md-3">
					<li><h5>关注</h5></li>
					<li class="weibo">
						<a id='new_tag' href="http://weibo.com/LogInsight?noscale_head=1#_rnd1446026527316" target="_blank"><img src="/static/loginsight/images/weibo.png"> <span>新浪微博</span></a>
					<li>

					<li>
						<a  class="weixin" href="javascript:;" ><img src="/static/loginsight/images/weixin.png"> 微信公众号</a>
					<li>
					<div id="qrcode" >
						<img src="/static/loginsight/images/weixin0.png">
					</div>
					<script type="text/javascript">
						$(".weixin").mouseover(function(){
							$("#qrcode").show();
						})
						$(".weixin").mouseout(function(){
							$("#qrcode").hide();
						})
						$
					</script>

				</ul>
				</div>
			</div>
			<!---- top-footer ---->
			<!---- footer ---->
			<div class="footer text-center">
				<span class="footer-yq">友情链接： 
				<a href="http://www.oneapm.com/" target="_blank">OneAPM</a>
				<a href="http://www.onealert.com/" target="_blank">OneAlert</a>
				</span>
				<p class="copy-right">Copyright©2015</p>
				<!-- to top -->
				<script type="text/javascript">
					$(document).ready(function() {
						$().UItoTop({ easingType: 'easeOutCubic' });
					});
				</script>
				<a href="javascript:;" id="toTop" > <span id="toTopHover" style="opacity:1;"> </span></a>
			</div>
			<!---- footer ---->
	</body>
</html>
