<!DOCTYPE HTML>
<html>
	<head>
		<title>关于我们 - LogInsight</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="LogInsight,百泉众合,日志管理,日志管理平台,日志分析平台"/>
		<meta name="description" content="LogInsight（百泉众合）提供SaaS及私有化部署的实时日志分析平台，帮助企业实现机器数据价值的洞察，助力运维，提升运营，实现大数据战略的快速落地" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<link href="/static/loginsight/css/bootstrap.css" rel='stylesheet' type='text/css' />

		<script src="/static/loginsight/js/jquery.min.js"></script>
		<link href="/static/loginsight/css/style.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="/static/loginsight/js/index.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71035313-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1a2fead704d6f0d4a6e35987b2da75cf";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


	</head>
	<body>
		<div id="top" class="bg-lv">
		<!----- start-header---->
			<div id="home" class="header">
                    <div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="/"><img src="/static/loginsight/images/logo.png"></a>
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul>
								<li class="active">
								<li><a href="/product" class="scroll">产品</a></li>
								<li><a href="/price" class="scroll">报价</a></li>

								<li><a href="http://loginsight.udesk.cn/hc" class="scroll" target="_blank">帮助</a></li>
                                <li><a href="/about" class="scroll">关于</a></li>
                                <li><span style="color:#fff;">|</span><a href="/login" class="scroll-a">登陆</a></li>
                                <li><a href="/register" class="scroll-b">注册</a></li>
							</ul>
							<a href="javascript:;" id="pull">
								<img src="/static/loginsight/images/nav-icon.png" title="menu" />
							</a>
						</nav>

                        </div>
					</div>
                </div>
				<!--backbox-->
				<div class="blackbox">
					<div class="black">
									<a href="/price">报价</a></br><hr>

									<a href="http://loginsight.udesk.cn/hc"target="_blank">帮助</a></br><hr>
									<a href="/about">关于</a></br><hr>
									<a class="scroll-e" href="/login">登陆</a></br><hr>
									<a class="scroll-f" href="/register">注册</a></br><hr>
									<a class="scroll-g" href="#">返回</a></br><hr>
					</div>
				</div>
				<script>
					$('#pull').click(function(){
						$(".blackbox").fadeIn(function(){
						})
					})
					$(".scroll-g").click(function(){
						$(".blackbox").fadeOut(function(){
						})
					})
				</script>
				<!--Contents-->
                <div class="container product-t" >
                		<div class="about-txt">
                        <h1 style="font-size:40px;">
                            招聘信息
                        </h1>
						 <h3>
                           Recruitment Information
                        </h3>
                		</div>
						<div class="price-img">
							<img  src="static/images/1171709.png">
						</div>
						</div>
			</div>
         </div>
         <!--new-function-body-->


		<!--body-->
		<div class="text-about container">
			<div class="about-left">
				<div class="top-green"></div>
				<a  href="/about">公司简介</a>
				<a href="/contact">联系我们</a>
				<a id="about-a" href="/recruitment">招聘信息</a>

			</div>
             <!--<div class="top-top"></div>-->
			<div class="about-right">

                	<div class="text-boxre">
                    <h2>招聘职位</h2>
                    <h3>前端开发工程师</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 与后台开发工程师协作,完成各种数据交互、动态信息展现和用户的互动;
						维护及优化网站前端页面性能;<br>
						· 负责解决产品在不同浏览器、移动设备端及不同版本下的兼容问题;
						JavaScript 程序模块开发,通用类库、框架编写;</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 熟悉 JavaScript、熟悉 Jquery、bootstrap、nodejs、Angularjs 等前端框架;<br>
						· 理论基础扎实,熟悉 WEB 应用开发流程;<br>
						· 掌握至少一种数据可视化工具,如:d3js、hightchart、echart 等;<br>
						· 熟悉 Yeoman、Bower 和 Grunt 等技术;<br>
						· 良好的编程习惯、逻辑思维能力和沟通协作能力;</p>
                    <h3>Python开发工程师</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 负责公司SaaS产品的Web端开发，并与搜索端，服务器端进行通讯;<br>
						· 搭建系统开发环境，完成项目开发工作；</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 大学本科以上学历，三年以上开发经验<br>
						· 熟练使用Python，并了解其它Web开发语言；<br>
						· 熟悉Linux, git，shell、vim、emacs优先考虑。<br>
						· 熟Postgresql,Mongodb,Redis, Nginx, Tornado中的一种或多种;<br>
						· 熟悉web开发流程，了解mvc开发模式,熟悉django,flask,web.py,tornado;<br>
						· 自我学习能力强，善于沟通交流，有责任感，有团队协作精神，对新技术敏感。<br>
						· 了解一些前端开发，如HTML/CSS/Javascript/jQuery/Ajax；<br>
						· 有高负载应用或分布式系统开发经验者优先。</p>
                    <h3>运维总监</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 负责相关业务的产品和运维架构设计，把控优化方向并推进落地，能设计系统中的技术细节；<br>
						· 负责我司 SaaS业务的基础架构建设，在保证业务正常的基础下，降低运营成本。</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 大学本科以上学历，至少5年以上的大规模集群实战运维经验，熟悉软件开发和系统架构，掌握至少一门编程语言，C、C++或者Python优先 ；<br>
· 系统工程能力扎实过硬，深入了解系统（Linux）及上下游链路服务（网络io等），具有很强技术敏感度和故障排查经验，并能进行技术方案的整合 ；<br>
· 熟悉服务管理、单元部署、自动扩容等运维系统建设，对成本控制和效能提升有深刻的理解和实践 ；<br>
· 有Nginx、Varnish、Nagios、Cacti、Zabbix等常见运维工具的配置和优化经验，熟悉此类开源系统的安装及优化；<br>
· 具有大规模集群调度和架构设计经验优先，对Hadoop\Hbase\Storm\Spark\Elasticsearch等分布式计算系统中的一项有相当经验者优先
</p>
                    <h3>GoLang研发工程师</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 使用 Golang (GO 语言)开发服务器端系统,配合 C/C++ 通过网络对外提供服务;</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 二年以上工作经验,且语言、算法、网络、数据结构、设计模式等基础功底扎实,有良好的代码质量意识;<br>
· 熟练使用 Golang,有一定的 C/C++ 基础;<br>
· 有架构分析、性能调优相关的实际工作经验;<br>
· 掌握基本的网络编程知识,熟悉多线程编程及其技巧;</p>
					<p>具有以下条件者优先：</p>
                    <P>· 有开源数据库(MySQL、PostgreSQL 等)研究和开发经验;<br>
· 开源社区成员,为开源软件提交过 patch; <br>
· 精通 Linux 系统 IO、锁等调优技术; <br>
· 有大规模分布式系统设计和开发经验;</P>
                    <h3>全文检索工程师</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 使用 C/C++ 和 Golang 开发新一代为日志数据专门设计的全文检索引擎。<br>
· 根据数据的实际特征,设计新的索引压缩、存储方式<br>
· 实现分布式索引系统</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 二年以上工作经验,且语言、算法、网络、数据结构、设计模式等基础功底扎实,有良好的代码质量意识;<br>
· 了解搜索引擎,特别是倒排表的基本原理;<br>
· 了解数据压缩的基本理论;<br>
· 熟练使用C/C++;<br>
· 有架构分析、性能调优相关的实际工作经验,对常见的调优工具如Oprofile、Vtune、Perf等较为熟悉;<br>
· 对分布式检索引擎或者数据库引擎有深入研究者优先,对开源系统如Redis、Mysql、Memcache;<br>
· Zookeeper、tair 等有深入研究者优先;<br>
· 有开发分布式系统经验的优先.</p>
                    <h3>数据库研发工程师</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 负责大规模海量数据实时计算平台的计算引擎、存储引擎、存储过程、执行优化器等核心模块的设计开发;<br>· 提升单机资源利用率和性能.</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 有1年以上数据库核心模块(解析、存储过程、计算、索引、存储等)开发、优化经验<br>
· 精通Golang或者C/C++,有linux下丰富的应用性能诊断、优化经验;<br>
· 对MySQL、Oracle、SQLServer、PostgreSQL以及类似数据库中的至少一个有深入研究;<br>
· 熟悉多线程编程,精通常用数据结构和算法,熟悉编译器及解析器原理及应用;<br>
· 有系统、网络、存储、系统或硬件等方面经验者优先,有搜索引擎方面经验者优先,对lucene有过优化经验者优先,有内存数据库开发经验优先,有Linux下丰富的内存管理经验;<br>
· 有强烈的上进心和求知欲,善于学习新事物,对技术充满激情;<br>
· 具有较强的团队合作能力,勇于面对和解决挑战性问题.</p>
                    <h3>Hadoop/Spark开发工程师</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 负责基于Spark的并行计算平台的维护、开发与优化工作<br>
· Spark全栈的研究和应用</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 非常熟悉Spark、Storm、Hadoop、Hive、Hbase、MapReduce这些常见的大数据框架，有至少1年的大数据经验；<br>
· 熟悉Scala、Java、Python之一，并能熟练使用相应语言进行数据处理；<br>
· 有较强的动手实现能力及学习能力；<br>
· 有推荐系统相关经验的加分；<br>
· 熟悉Linux/Unix操作系统，熟悉脚本编程(Shell/Python/Perl其中一种） ；<br>
· 良好的团队合作，较强的沟通能力，对解决挑战型问题充满激情。</p>
                    <h3>Openstack研发工程师</h3>
                    <p class="textblod">岗位职责：</p>
                    <p>· 研究OpenStack部署方案、监控方案、存储方案等；<br>
· 从事OpenStack技术研究和开发工作，跟进OpenStack技术发展方向；<br>
· 解决OpenStack运行中出现的问题。</p>
                    <p class="textblod">职位要求：</p>
                    <p>· 计算机相关专业本科及以上学历；<br>
· 熟悉Linux操作系统，熟悉虚拟化、网络、存储的原理与应用；<br>
· 熟悉OpenStack整体框架、技术体系和API；<br>
· 有OpenStack开发经验、能修改OpenStack源码，或具备防火墙、路由器、交换机等网络设备开发经验；<br>
· 具有较强英文阅读能力，能快速熟练阅读英文文档；<br>
· 良好的沟通能力和团队合作能力；<br>
· 良好的学习能力，优秀的文档编写能力；<br>
· 1年以上Python开发经验。</p>
					<h3>联系方式</h3>
                    <p>联系人：陈自欣</p>
                    <p>电话：13760674743</p>
                    <p>邮件：hr@loginsight.cn</p>
                    <p>地址：北京海淀区后屯路专家花园7栋2单元1B</p>
                </div>
                </div>
			</div>
             </div>

         </div>


			<!---- top-footer ---->
			<div class="top-footer clearfix">
				<div class="top-footer-min">
				<div class="col-md-3">

                    <a href="/"><img src="/static/loginsight/images/logodfdfdf.png"></a>
				</div>
				<ul class="col-md-3">
					<li><h5>产品</h5></li>
					<li>
						<a href="/product">产品概述</a>
					<li>
					<li>
						<a href="/price">产品价格</a>
					<li>
					<!--
					<li>
						<a href="javascript:;">用户案例</a>
					<li>
					<li>
						<a href="javascript:;">常见问题</a>
					<li>
					-->
				</ul>
				<ul class="col-md-3">
					<li><h5>文档</h5></li>
					<li>
						<a href="http://loginsight.udesk.cn/hc">帮助中心</a>
					<li>
					<!--
					<li>
						<a href="javascript:;">快速入门</a>
					<li>
					<li>
						<a href="javascript:;">使用指南</a>
					<li>
					<li>
						<a href="javascript:;">疑难解答</a>
					<li>
					-->
				</ul>
				<ul class="col-md-3">
					<li><h5>关于</h5></li>
					<li>
						<a href="/about">公司简介</a>
					<li>

					<li>
						<a href="/contact">联系我们</a>
					<li>
                    <li>
						<a href="/recruitment">招聘信息</a>
					<li>
				</ul>
				<ul class="col-md-3">
					<li><h5>关注</h5></li>
					<li class="weibo">
						<a id='new_tag' href="http://weibo.com/LogInsight?noscale_head=1#_rnd1446026527316" target="_blank"><img src="/static/loginsight/images/weibo.png"> <span>新浪微博</span></a>
					<li>

					<li>
						<a  class="weixin" href="javascript:;" ><img src="/static/loginsight/images/weixin.png"> 微信公众号</a>
					<li>
					<div id="qrcode" >
						<img src="/static/loginsight/images/weixin0.png">
					</div>
					<script type="text/javascript">
						$(".weixin").mouseover(function(){
							$("#qrcode").show();
						})
						$(".weixin").mouseout(function(){
							$("#qrcode").hide();
						})
						$
					</script>
				</ul>
				</div>
			</div>
			<!---- top-footer ---->
			<!---- footer ---->
			<div class="footer text-center">
				<p class="copy-right">Copyright©2015</p>
				<!-- to top -->
				<!--<script type="text/javascript">
					$(document).ready(function() {
						$().UItoTop({ easingType: 'easeOutCubic' });
					});
				</script>-->
				<a href="javascript:;" id="toTop" > <span id="toTopHover" style="opacity:1;"> </span></a>
			</div>
			<!---- footer ---->
	</body>
</html>
